.screen {
  width: 250px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.644);
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: rgb(58, 58, 35);
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
